:root {
  // ---------- COLOURS
  --color-neutral-100: 0, 0%, 100%;
  --color-neutral-150: 330, 100%, 98%;
  --color-neutral-200: 30, 54%, 90%;
  --color-neutral-300: 30, 18%, 87%;
  --color-neutral-500: 30, 10%, 34%;
  --color-neutral-800: 24, 5%, 18%;

  --color-primary: 14, 45%, 36%;
  --color-secondary: 332, 51%, 32%;
}
