:root {
  // ---------- COLOURS
  --color-neutral-100: 0, 0%, 100%;
  --color-neutral-150: 330, 100%, 98%;
  --color-neutral-200: 30, 54%, 90%;
  --color-neutral-300: 30, 18%, 87%;
  --color-neutral-500: 30, 10%, 34%;
  --color-neutral-800: 24, 5%, 18%;

  --color-primary: 14, 45%, 36%;
  --color-secondary: 332, 51%, 32%;

  --color-bg: hsl(var(--color-neutral-100));

  @media (min-width: 48em) {
    --color-bg: hsl(var(--color-neutral-200));
  }

  // ---------- TYPOGRAPHY

  // ----- Fonts
  --fw-regular: 400;
  --fw-semibold: 600;
  --fw-bold: 700;

  --fw-strong: var(--fw-bold);

  --fs-100: 1rem; // 16px
  --fs-200: 1.25rem; // 20px
  --fs-300: 1.75rem; // 28px
  --fs-400: 2.25rem; // 36px
  --fs-500: 2.5rem; // 40px

  --ff-primary: 'Outfit', sans-serif;
  --ff-secondary: 'Young Serif', serif;

  // ----- Leading
  --leading-100: 100%;
  --leading-150: 150%;

  // ----- Copy
  --copy-font: var(--fw-regular) var(--fs-100) var(--ff-primary);
  --copy-leading: var(--leading-150);
  --copy-color: hsl(var(--color-neutral-500));

  // ----- Heading
  --heading-ff: var(--ff-secondary);
  --heading-leading: var(--leading-100);

  // ---------- LISTS
  --list-gap: 0.5rem;
  --list-item-marker-fw: var(--fw-bold);
  --list-item-marker-color: hsl(var(--color-primary));
  --list-item-margin-left: 1.25rem;
  --list-item-padding-left: 1.75rem;

  // ---------- TABLES
  --table-row-padding: 0.75rem 2rem;
  --table-row-border-bottom: 1px solid hsl(var(--color-neutral-300));
  --table-row-even-fw: var(--fw-bold);
  --table-row-even-color: hsl(var(--color-primary));

  // ---------- COMPONENTS

  // -----  Recipe Item
  --recipe-item-bg: hsl(var(--color-neutral-100));
  --recipe-item-radius: 0;
  --recipe-item-max-width: 100%;

  --recipe-item-content-margin-top: 2.5rem;
  --recipe-item-content-gap: 1.5rem;
  --recipe-item-content-max-width: 19.375rem;

  --recipe-item-heading-fs: var(--fs-400);
  --recipe-item-heading-color: hsl(var(--color-neutral-800));

  --recipe-item-block-gap: 1.5rem;
  --recipe-item-block-heading-fs: var(--fs-300);
  --recipe-item-block-heading-color: hsl(var(--color-primary));
  --recipe-item-block-border-bottom: 1px solid hsl(var(--color-neutral-300));
  --recipe-item-block-padding-block: 2rem;

  --recipe-item-block-alt-bg: hsl(var(--color-neutral-150));
  --recipe-item-block-alt-radius: 12px;
  --recipe-item-block-alt-padding: 1.5rem;
  --recipe-item-block-alt-heading-font: var(--fw-bold) var(--fs-200)
    var(--ff-primary);
  --recipe-item-block-alt-heading-color: hsl(var(--color-secondary));
  --recipe-item-block-alt-list-marker-color: hsl(var(--color-secondary));

  @media (min-width: 48em) {
    --recipe-item-radius: 24px;
    --recipe-item-padding: 2.5rem;
    --recipe-item-max-width: 45rem;

    --recipe-item-img-radius: 12px;

    --recipe-item-content-max-width: 46rem;
    --recipe-item-content-heading-fs: var(--fs-500);
  }

  // ---------- LAYOUT

  // ----- Footer
  --footer-fs: 0.875rem; // 14px
  --footer-color: hsla(var(--color-neutral-800), 0.4);
  --footer-padding-block: 1rem;

  --footer-link-fw: var(--fw-semibold);
  --footer-link-color: var(--footer-color);
}
