@use '../abstracts/mixins' as mixin;

body {
  font: var(--copy-font);
  line-height: var(--copy-leading);
  color: var(--copy-color);

  @media (min-width: 48em) {
    display: grid;
    place-content: center;
  }
}

.heading {
  font-family: var(--heading-ff);
  line-height: var(--heading-leading);
}
