@use '../abstracts/mixins' as mixin;

body {
  font: var(--copy-font);
  line-height: var(--copy-leading);
  color: var(--copy-color);

  @media (min-width: 48em) {
    display: grid;
    place-content: center;
  }
}

.heading {
  font-family: var(--heading-ff);
  line-height: var(--heading-leading);
}

strong {
  font-weight: var(--fw-strong);
}

ul,
ol {
  @include mixin.flex($align: null, $direction: column, $gap: var(--list-gap));

  margin-top: var(--list-margin-top);
}

li {
  margin-left: var(--list-item-margin-left);
  padding-left: var(--list-item-padding-left);

  &::marker {
    font-weight: var(--list-item-marker-fw);
    color: var(--list-item-marker-color);
  }
}
