@use '../abstracts' as abstract;

/**
 * Import Outfit
 */

@include abstract.font-face(
  $font-family: 'Outfit',
  $font-path: '../assets/fonts/outfit/Outfit-VariableFont_wght.ttf',
  $font-weight: 400 700
);
