@use '../abstracts/mixins' as mixin;

/***
 * Recipe Item
 */

.recipe-item {
  border-radius: var(--recipe-item-radius);
  margin-inline: auto;
  max-width: var(--recipe-item-max-width);
  overflow: hidden;
}
