@use '../abstracts/mixins' as mixin;

/***
 * Recipe Item
 */

.recipe-item {
  background-color: var(--recipe-item-bg);
  border-radius: var(--recipe-item-radius);
  padding: var(--recipe-item-padding);
  margin-inline: auto;
  max-width: var(--recipe-item-max-width);
  overflow: hidden;

  &__img img {
    border-radius: var(--recipe-item-img-radius);
  }

  &__content {
    @include mixin.flex($align: null, $gap: var(--recipe-item-content-gap));

    margin-top: var(--recipe-item-content-margin-top);
    margin-inline: auto;
    max-width: var(--recipe-item-content-max-width);

    .heading {
      font-size: var(--recipe-item-heading-fs);
      color: var(--recipe-item-heading-color);
    }
  }

  &__block {
    @include mixin.flex($align: null, $gap: var(--recipe-item-block-gap));

    border-bottom: var(--recipe-item-block-border-bottom);
    padding-block: var(--recipe-item-block-padding-block);

    .heading {
      font-size: var(--recipe-item-block-heading-fs);
      color: var(--recipe-item-block-heading-color);
    }

    &:last-child {
      border-bottom: 0;
      padding-bottom: 0;
    }

    &-alt {
      background-color: var(--recipe-item-block-alt-bg);
      border-bottom: 0;
      border-radius: var(--recipe-item-block-alt-radius);
      padding: var(--recipe-item-block-alt-padding);

      .heading {
        font: var(--recipe-item-block-alt-heading-font);
        color: var(--recipe-item-block-alt-heading-color);
      }

      li::marker {
        color: var(--recipe-item-block-alt-list-marker-color);
      }
    }
  }
}
