@use '../abstracts/mixins' as mixin;

/***
 * Recipe Item
 */

.recipe-item {
  border-radius: var(--recipe-item-radius);
  margin-inline: auto;
  max-width: var(--recipe-item-max-width);
  overflow: hidden;

  &__content {
    @include mixin.flex($align: null, $gap: var(--recipe-item-content-gap));

    margin-top: var(--recipe-item-content-margin-top);
    margin-inline: auto;
    max-width: var(--recipe-item-content-max-width);

    .heading {
      font-size: var(--recipe-item-heading-fs);
      color: var(--recipe-item-heading-color);
    }
  }

  &__block {
    @include mixin.flex($align: null, $gap: var(--recipe-item-block-gap));

    border-bottom: var(--recipe-item-block-border-bottom);
    padding-block: var(--recipe-item-block-padding-block);

    .heading {
      font-size: var(--recipe-item-block-heading-fs);
      color: var(--recipe-item-block-heading-color);
    }

    &:last-child {
      border-bottom: 0;
    }
  }
}
